/bin
/local
/pkg
/src
/website/.sass-cache
/website/build
/website/tmp
.DS_Store
.vagrant
.idea
test/.env
*~
*.received.*
*.swp

vendor/

website/.bundle
website/vendor

packer-test*.log

*.received.txt
*.received.json

.idea/
*.iml
Thumbs.db
/packer.exe
.project
cache
/.vscode/

# Plugin binaries
plugin/packer-plugin-meda
plugin/packer-plugin-meda.exe
plugin/dist/

# Build artifacts
*.tar.gz
*.zip
manifest.json
artifacts/
goreleaser
